html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.jss1 {
    padding: 0 !important;
}

.css-y1gt6f {
    padding-bottom: 20px;
}

.animation {
    padding-left: 25%;
    padding-right: 25%;
}